---
# The workflow to deploy snapshot artifact versions to GitHub packages
# Fill free to adjust java version and additional mvn command-line parameters
# The workflow will trigger on pushes into branches different from main and release
# Please make sure that the version in the pom.xml file has the SNAPSHOT postfix

name: Maven GitHub deploy snapshot

on:
  push:
    branches-ignore:
    - "main"
    - "**release*"
    - "prettier/**"
    - "dependabot/**"
    paths-ignore:
    - "docs/**"
    - "README.md"
    - ".github/**"
  workflow_dispatch: {}
permissions:
  packages: write
  contents: write

jobs:
  mvn-snapshot-deploy:
    uses: netcracker/qubership-workflow-hub/.github/workflows/re-maven-snapshot-deploy.yaml@main
    with:
      java-version: "21"
      additional-mvn-args: ""
      target-store: "github-packages"
    secrets:
      maven-token: ${{ github.token }}
      gpg-passphrase: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
      gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
